---
import { Aside } from "@astrojs/starlight/components";
import ShadoksPage from "../../layouts/ShadoksPage.astro";
import ByNcDcCc from '../../components/ByNcNdCc.astro';
---

<style>
    blockquote  {
        font-family: monospace;
    }
</style>

<ShadoksPage title="Fan Fiction" tableOfContents={false}>
    <Aside type="caution" title="Propriété intellectuelle">
        Ce texte est une production personnelle dont je suis particulièrement
        fier. A cet égard, merci de ne pas le réutiliser sans mon autorisation.
    </Aside>

    <h1>Au vote!</h1>

    <blockquote>
        <p>En ce temps-là, les shadoks votaient. Ils votaient... car comme Gégènne les
        avait tous fatigués à force de courir après eux, ils ne voulaient plus pomper.
        Alors il fallait bien trouver quelqu'un pour le faire.</p>
        
        <p>Quand les shadoks votaient, c'était presque comme nous. Shadok à belles
        pattes, shadoks à grand bec, ou shadok à passoire défilaient pour que chacun
        puisse faire son choix.</p>
        
        <p>Il y avait 4 catégories de shadoks votants.</p>
        
        <p>Tout d'abord, ceux qui ne savaient ni lire, ni écrire. Ceux-là, ils
        assistaient au spectacle en s'amusant à planter des clous sur les
        shadoks-candidats.</p>
        
        <p>Ensuite, on avait les shadoks qui savaient écrire, mais pas lire. Eux avaient
        la possibilité d'indiquer sur leur bulletin pour qui ils votaient. Mais comme
        ils ne savaient pas lire, ils n'arrivaient jamais à comprendre les cartes
        indiquant où se trouvaient les bureaux de vote, et donc ça ne servait à rien.
        Surtout qu'on les cachait bien pour être sûr qu'on les cherchât. Car en effet
        ils avaient entendu quelque part comme quoi "qui cherche trouve". Et comme un
        shadok n'est pas plus bête que vous et moi, ou du moins le pensaient-ils, ils
        avaient décidé de faire pareil.</p>
        
        <p>Venaient après les shadoks qui savaient lire, mais pas écrire. Si eux
        arrivaient à bien chercher, et donc à bien trouver, ils ne savaient jamais
        comment écrire le nom du shadok qui leur paraissait le plus beau ou populaire.
        Alors parfois, ils se trompaient, et votaient pour d'autres shadoks.</p>
        
        <p>Enfin, on avait les shadoks qui savaient lire, et écrire. Ceux-là, on les
        jetait au goulp. D'une part car ils ne devraient pas exister, et d'autre part,
        car des shadoks pareils, ce serait trop dangereux pour l'avenir des shadoks.</p>
        
        <p>À la fin, on comptait les voix. Ce qui posait un problème : déjà, les shadoks
        ne savaient pas compter. Quand ils y arrivaient, et que par malheur on avait
        plus de 4 voix, ils pondaient des œufs. Et il fallait tout recommencer, car les
        shadoks nouveau-nés avaient eux aussi le droit de vote, et c'est pas juste
        de choisir quelqu'un si tout le monde n'a pas pu voter.</p>
        
        <p>Si après tout ça, un shadok était élu... mais c'était vraiment par hasard, eh
        bien on le jetait au goulp. Car entre-temps, les shadoks en avaient bien sûr
        assez d'être fatigués, et donc ils pompaient, et ils ne trouvaient pas normal
        qu'un seul shadok ait le droit de pomper alors que eux aussi voulaient le
        faire.</p>
        
        <p>C'est tout pour aujourd'hui !</p>
            
        
    </blockquote>

    <ByNcDcCc title="Au vote!" year="2006" />

</ShadoksPage>
