/**
 * Icons
 */

.icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon svg path {
    fill: white;
}
.post {
    margin-bottom: 0em;
}
.post-meta {
    color: grey;
}
ul ul {
    margin-bottom: 0rem;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    white-space: pre;
}
