---
import type { ImageMetadata } from 'astro';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import ZoomableImage from '../components/ZoomableImage.astro';

const SKETCHES_PATH_PREFIX = "/src/assets/sketches/";
const WIDTH_RES = 300;
const IMAGES = import.meta.glob<{ default: ImageMetadata }>("/src/assets/sketches/*.{jpeg,jpg,png,gif,webp}");
const SKETCHES = [
    [SKETCHES_PATH_PREFIX+"space-tech-corridor-1.webp", "Space base corridor 1"],
    [SKETCHES_PATH_PREFIX+"hourglass-1.webp", "Hourglass 1"],
    [SKETCHES_PATH_PREFIX+"clock-rust-1.webp", "Rusty clock 1"],
    [SKETCHES_PATH_PREFIX+"sky-night-1.webp", "Sky Night 1"],
    [SKETCHES_PATH_PREFIX+"goban-1.webp", "Goban 1"],
];
const sketchInfos = await Promise.all(SKETCHES.map ( async (sketchInfo) => {
    const src = IMAGES[sketchInfo[0]]();
    return {src, label: sketchInfo[1]}
}));

---

<style>
    .vignettes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .vignettes  img {
        min-width: 100%;
        max-width: 100%;
        max-height: fit-content;
        min-height: fit-content;
    }
    figure {
        display: flex;
        flex-flow: column;
        line-height: 0;
    }
    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }
</style>

<StarlightPage frontmatter={{ title: 'Sketches', tableOfContents: false }}>

    <div class="vignettes not-content">
        {sketchInfos.map(item => (
            <figure>
                <ZoomableImage src={item.src} width={WIDTH_RES} alt={item.label} />
                <figcaption>{item.label}</figcaption>
            </figure>
        ))}

    </div>  

</StarlightPage>
