---
const { title, year } = Astro.props;
import { Image } from "astro:assets";
import byNcNdCc from "../assets/by-nc-nd.svg";
---

<div>
    <div>
        <span property="dct:title">{title} © {year}</span> by
        <a rel="cc:attributionURL dct:creator"
           property="cc:attributionName"
           href="https://www.alea.net">Vincent Hiribarren</a> is licensed under
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr"
           target="_blank"
           rel="license noopener noreferrer"
           style="display:inline-block;"
           class="not-content">
           Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International</a>
    </div>
    <div style="text-align: center;">
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr"
           target="_blank"
           rel="license noopener noreferrer"
           style="display:inline-block;"
           class="not-content">
         <Image
             src={byNcNdCc}
             alt="Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International"/></a>
    </div>
</div>
