---
---

<style>
    .composition {
        font-family: monospace;
        white-space: pre-line;
        background: var(--sl-color-gray-7);
        font-size: var(--sl-text-code);
        line-height: var(--sl-line-height);
        border: 1px solid color-mix(in srgb, var(--sl-color-gray-5), transparent 25%);
        padding: 0.75em
    }
</style>

<div class="composition">
    <slot />
</div>