---
import "@astrojs/starlight/style/markdown.css"

const { lang  } = Astro.props;
const { publishDate, updateDate, displayPublishDate = true } = Astro.locals.starlightRoute.entry.data;
---

{ (publishDate || updateDate) && displayPublishDate &&
    <p>
        {publishDate && <>
			{Astro.locals.t('page.publishDate')}{' '}
			<time datetime={publishDate.toISOString()}>
				{publishDate.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
			</time>
        </>}
        {publishDate && updateDate && <br>}
        {updateDate && <>
			{Astro.locals.t('page.lastUpdated')}{' '}
			<time datetime={updateDate.toISOString()}>
				{updateDate.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}
			</time>
        </>}
    </p>
}

<div class="sl-markdown-content"><slot /></div>